#root {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.exo-2 {
  font-family: 'Exo 2', sans-serif;
}

.wkit-button {
  background-color: white !important;
  color: black !important;
  font-size: 20px !important;
  font-weight: 500 !important;
}

.wkit-connected-button {
  color: black !important;
  padding: 9px !important;
}

.wkit-disconnect-button__container {
  left: 0px;
}